<form class="w-100 h-100">
  <mat-form-field class="w-100">
    <mat-label>With you and:</mat-label>
    <input
      type="text"
      placeholder="Pick one"
      aria-label="Number"
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-optgroup *ngIf="filteredRecents.length > 0" label="Recent">
        @for (currency of filteredRecents ; track currency) {
        <mat-option
          [value]="currency"
          (onSelectionChange)="selectOption(currency)"
          >{{ currency.currency_code }}</mat-option
        >
        }
      </mat-optgroup>
      <mat-optgroup *ngIf="filteredOptions.length > 0" label="All">
        @for (currency of filteredOptions ; track currency) {
        <mat-option
          [value]="currency"
          (onSelectionChange)="selectOption(currency)"
          >{{ currency.currency_code }}</mat-option
        >
        }
      </mat-optgroup>
    </mat-autocomplete>
  </mat-form-field>
</form>
