<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>API Key</mat-label>
    <input
      type="text"
      matInput
      [(ngModel)]="apiKey"
      [ngModelOptions]="{ standalone: true }"
      placeholder="Enter API key"
      aria-label="API Key"
    />
  </mat-form-field>

  <mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="onCancel()">No</button>
    <button mat-button mat-dialog-close cdkFocusInitial (click)="onOk()">Ok</button>
  </mat-dialog-actions>
</form>