.panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  font-size: 1.5rem;
}
.panel-title {
  margin-left: 1rem;
  text-align: center;
}
.confirm-button {
  margin-left: auto;
}
.tab-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

mat-checkbox {
  width: 100%;
}
.user-option {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}
.user-label {
  width: 100%;
  display: flex;
  align-items: center;
}
.profile-pic {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin-right: 16px;
}

.user-select-container {
  display: flex;
  align-items: center;
  padding: 8px;
}

.tab-title {
  padding: 1rem 0rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  p {
    margin: 0;
  }
}

.mat-mdc-tab-group {
  height: 100%;
}
::ng-deep .mat-mdc-tab-body-wrapper {
  flex-grow: 1;
}

.tab-footer {
  flex: 0 0 70px;
  display: flex;
  align-items: center;
}
.select-all-checkbox {
  border-left: 1px solid #ccc;
}
.tab-footer-el {
  padding: 0.5rem 1rem;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scrollable-list {
  flex: 1 1;
  overflow-y: auto;
}
.user-amount {
  display: flex;
  margin-left: auto;
  align-self: end;
}
::ng-deep mat-mdc-form-field-infix {
  padding: 0 !important;
}
