<!-- Panel with Adjust Split -->
<div class="panel" mat-dialog-title>
  <button mat-icon-button (click)="onBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span class="panel-title">Adjust Split</span>
  <button class="confirm-button" mat-icon-button (click)="onConfirm()">
    <mat-icon>check</mat-icon>
  </button>
</div>

<!-- Material Tabs for different split types -->
<mat-tab-group
  [(selectedIndex)]="selectedTab"
  [animationDuration]="0"
  class="custom-tabs"
>
  <!-- Equally Tab -->
  <mat-tab label="Equally">
    <div class="tab-content">
      <div class="scrollable-list">
        <div class="tab-title">
          <p class="fw-bold">Split equally</p>
          <p>Selected users owe the same amount.</p>
        </div>
        <mat-selection-list
          [(ngModel)]="selectedOptions"
          (selectionChange)="onSelectionChange()"
          #equalUsers
        >
          <mat-list-option
            *ngFor="let split of selectedSplit; let i = index"
            [selected]="split.selected"
            [value]="split.userId"
            class="user-option"
          >
            <div class="user-label">
              <img
                [src]="data.users[i]?.picture?.small"
                alt="Profile"
                class="profile-pic"
              />
              <div>{{ getDisplayName(data.users[i]) }}</div>
            </div>
          </mat-list-option>
        </mat-selection-list>
      </div>
      <div class="tab-footer">
        <span
          class="tab-footer-el flex-column justify-content-between"
          style="flex: 1"
        >
          <span class="fw-bold"
            >{{ equalAmount | number : "1.2-2" }} /person</span
          >
          <span>({{ selectedOptions.length }} person)</span>
        </span>
        <mat-checkbox
          [(ngModel)]="selectAllChecked"
          (change)="toggleSelectAll($event)"
          class="tab-footer-el select-all-checkbox"
          [labelPosition]="'before'"
        >
          All
        </mat-checkbox>
      </div>
    </div>
  </mat-tab>

  <!-- Unequally Tab -->
  <mat-tab label="Unequally">
    <div class="tab-content">
      <div class="scrollable-list">
        <div class="tab-title">
          <p class="fw-bold">Split Unequally</p>
          <p>Specify the exact amount each user owes.</p>
        </div>
        <mat-list>
          <mat-list-item
            *ngFor="let split of selectedSplit; let i = index"
            class="user-option"
          >
            <div class="user-label">
              <img
                [src]="data.users[i]?.picture?.small"
                alt="Profile"
                class="profile-pic"
              />
              <div>{{ getDisplayName(data.users[i]) }}</div>
              <mat-form-field
                subscriptSizing="dynamic"
                class="user-amount dense-10"
                [style.width.px]="
                  (split.owed_share || 0).toString().length * 9 + 35
                "
              >
                <input
                  matInput
                  type="string"
                  inputmode="numeric"
                  [(ngModel)]="split.owed_share"
                  (input)="onChangeInput($event, split.id)"
                  placeholder="0"
                />
              </mat-form-field>
            </div>
          </mat-list-item>
        </mat-list>
      </div>
      <div class="tab-footer">
        <span
          class="tab-footer-el flex-column justify-content-between"
          style="flex: 1"
        >
          <span class="fw-bold">
            SGD{{ totalAmount - remainingAmount | number : "1.2-2" }} of SGD{{
              totalAmount | number : "1.2-2"
            }}
          </span>
          <span>SGD {{ remainingAmount | number : "1.2-2" }} left</span>
        </span>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
