.add-expense-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  height: 100%;
  background-color: var(
    --mat-sidenav-content-background-color,
    var(--mat-sys-background)
  );
  .paid-by-split {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 16px;
  }

  .footer-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    justify-self: flex-end;
  }
  .action-icons {
    display: flex;
    gap: 8px;
    align-items: center;
  }
}

.app-name {
  font-family: "Lobster", cursive;
  font-weight: 700;
  color: #514346;
  letter-spacing: 0.02em;
  .secondary-text {
    color: #ba005c;
  }
}
