.add-expense-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  height: 100%;
  max-width: 400px;
  margin: 0 auto;
  background-color: var(
    --mat-sidenav-content-background-color,
    var(--mat-sys-background)
  );
  .paid-by-split {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 16px;
  }

  .footer-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    justify-self: flex-end;
  }
  .action-icons {
    display: flex;
    gap: 8px;
    align-items: center;
  }
}
