<div class="add-expense-container">
  <h2 class="app-name m-5">
    <span>Split</span><span class="secondary-text">Better</span>
  </h2>

  <!-- Group Selection -->
  <button mat-button (click)="openGroupDialog()">
    With you and: {{ selectedGroup ? selectedGroup.name : "select group" }}
  </button>

  <!-- Description Input -->
  <mat-form-field appearance="fill" class="max-width-340px">
    <input
      matInput
      [(ngModel)]="description"
      placeholder="Enter a description"
      q
    />
  </mat-form-field>

  <!-- Amount Input -->
  <mat-form-field appearance="fill" class="max-width-340px">
    <input
      matInput
      type="string"
      inputmode="numeric"
      [value]="amount"
      (input)="onChangeInput($event)"
      placeholder="0.00"
    />
    <button mat-button (click)="openCurrencyDialog()" matSuffix>
      {{ selectedCurrency.currency_code }}
    </button>
  </mat-form-field>

  <!-- Paid By and Split Selection -->
  <div class="paid-by-split">
    <span>Paid by</span>
    <button mat-stroked-button (click)="openPayerDialog()">
      {{ getSelectedPayers() }}
    </button>
    <span>and split</span>
    <button mat-stroked-button (click)="openSplitDialog()">
      {{ creation_method }}
    </button>
  </div>

  <!-- Footer Icons (Optional) -->
  <div class="footer-icons">
    <div class="action-icons">
      <button mat-icon-button (click)="openDatePicker()">
        <mat-icon>calendar_today</mat-icon>
      </button>
      <button mat-icon-button disabled>
        <mat-icon>camera_alt</mat-icon>
      </button>
      <button mat-icon-button disabled>
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <button mat-fab extended (click)="addExpense()">
      Add Expense
      <mat-icon>check</mat-icon>
    </button>
  </div>
</div>
